body {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    box-sizing: border-box
}

html {
    scroll-behavior: smooth
}

a,
body,
h1,
h2,
h3,
h4,
h5,
h6,
html,
li,
p,
ul {
    margin: 0;
    padding: 0
}


:root {
    --primary-color: #222222;
    --secondary-color: #eeeeee;
}

section.banner-blog {
    height: 40vh;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    overflow: hidden;
    background-image: url(../images/creative2-banner-bg.jpg);
    background-position: center;
    background-attachment: fixed
}

section.banner-blog .banner-caption {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    width: 100%;
    text-align: center
}

section.banner-blog .banner-caption h1 {
    color: var(--secondary-color);
    font-size: 48px;
    font-weight: 700;
    text-transform: uppercase
}

section.banner-blog .bread-crumb a {
    color: #fff;
    display: inline-block;
    margin: 0 10px;
    position: relative;
    font-size: 16px;
    text-transform: uppercase;
    text-decoration: none
}

section.banner-blog .bread-crumb a:before {
    content: "/";
    position: absolute;
    right: -15px
}

section.banner-blog .bread-crumb a:last-child:before {
    display: none
}

.research {
    padding: 5rem 0
}

.research .content-details {
    text-align: justify
}

.research .content-title {
    color: var(--primary-color);
    text-transform: uppercase;
    font-weight: 900;
    font-size: 35px;
    margin: 2rem 0
}

.research .content-text {
    color: var(--primary-color);
    font-size: 18px;
    line-height: 28px
}

.content-details p a {
    color: #3b4eda
}

@media screen and (max-width:991px) {
    .content-details p {
        margin-top: 10px
    }
}

@media screen and (max-width:768px) {
    .research .content-title {
        font-size: 20px;
        margin: 1rem 0
    }

    .research {
        padding: 2rem 0
    }

    section.banner-blog .banner-caption h1 {
        font-size: 35px
    }
}